+popup-template(0, 'menu-hamburger')
	.menu-mobile
		.menu-header
			a.logo(href="#") 
				img(src="/images/logo-red.svg", alt="")
		nav.popup-nav
			ul.ln
					li 
						a(href="#") Заводы у установки
					li 
						a(href="#") Техника
					li 
						a(href="#") Проекты
						i
						ul 
							li 
								a(href="#") Проект 1
							li 
								a(href="#") Проект 2
							li 
								a(href="#") Проект 3
							li 
								a(href="#") Проект 4
					li 
						a(href="#") Стать дилером
					li 
						a(href="#") Контакты
		.menu-footer
			.menu-footer-item 
				a.phone-btn(href="#") 
					i
					span +7 (495) 969 58 69
			.menu-footer-item 
				a.mail-btn(href="#") 
					i
					span dds@merko-russland.com


