include ../../default/build-header
	include ../../blocks/header-content
	.stub
	.main-full
		+breadcrumbs('Новости')
	.content
		.main-full 
			h1 Новости
		.main-grid
			-for(i=0;i<5;i++)
				.col-4
					+blogItem('Название новости', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ', '11.11.11')
		.main-full
			+pagination()
		include ../home/feedback.pug
		.stub
include ../../blocks/footer