//- include preload.pug
header
	.main-grid
		.col-12
			.vertical-align
				.feedback-header
						a.phone-btn(href="#") 
							i
							span + 971 56 115 16 24
						a.mail-btn(href="#") 
							i
							span + 971 56 115 16 24
		.col-3.logo-container.vertical-align
			a.logo(href="#") 
				img(src="/images/logo.svg", alt="")
		.col-9.vertical-align
			nav.nav-header
				ul.ln
						li 
							a(href="#") Заводы и установки
						li 
							a(href="#") Техника
						li 
							a.inner-nav(href="#") Проекты
								i
							ul 
								li 
									a(href="#") Проект 1
								li 
									a(href="#") Проект 2
						li 
							a.btn.btn--red(href="#") Стать дилером
						li 
							a(href="#")  Контакты



