//- include preload.pug
header.main-header
	.main-grid
		.col-12.hidden-xs
			.vertical-align
				.feedback-header
						a.phone-btn(href="#") 
							i
							span +7 (495) 969 58 69
						a.mail-btn(href="#") 
							i
							span dds@merko-russland.com
		.col-3.logo-container.vertical-align
			a.logo.logo-white(href="#") 
				img(src="/images/logo.svg", alt="")
			a.logo.logo-red(href="#") 
				img(src="/images/logo-red.svg", alt="")
		.col-9.vertical-align.hidden-md.hidden-sm.hidden-xs
			nav.nav-header
				ul.ln
						li 
							a(href="#") Заводы и установки
						li 
							a(href="#") Техника
						li 
							a.inner-nav(href="#") Проекты
								i
							ul 
								li 
									a(href="#") Проект 1
								li 
									a(href="#") Проект 2
						li 
							a.btn.btn--red(href="#") Стать дилером
						li 
							a(href="#")  Контакты
	
		.col-9.header-tablet-nav
			a.btn.btn--red(href="#") Стать дилером
			.hamburger-btn

