include ../default/build-header
	include ../blocks/header-content
	.stub
	.main-full
		+breadcrumbs('Контакты')
	.content
		.main-full
			h1 Контакты
		.main-grid 
			.col-6
				.input-box
					label Категория:   
					+inputSelect('Выбрать', ['Склад','Официальный представитель','Офис','Пункт выдачи','Филиал',])
			.col-6
				.input-box
					label Город:   
					+inputSelect('Выбрать', ['Москва','селект 2','селект 3','селект 4','селект 5',])
			.col-12 
				include ../blocks/map
			.col-6
				.address-item
					h3 Адрес склада
					ul.ln
						li 141031, МО, г. Мытищи, пос. Нагорное, ул. Центральная, вл. 3, с. 3, пом. 3
						li Телефон: +7 (495) 969-58-69
						li Почта: dds@merko-russland.com
						li График работы: пн-пт с 9:00 до 19:00


				.address-item
					h3  Филиал в г. Воронеж
					ul.ln
						li 394028, г. Воронеж, переулок Отличников, д. 4


				.address-item
					h3 Официальный представитель
						br
						| Производственная компания «Дорожные технологии»
					ul.ln
						li 192148, г. Санкт-Петербург, ул. Седова, д. 13
						li Телефон: +7 (812) 900-61-90
						li Почта: info@pk-dorteh.ru
						li Сайт: дортех.рф



				.address-item
					h3 Официальный представитель на Дальнем Востоке
						br
						|АО «Дальтимбермаш»
					ul.ln
						li 680052, г. Хабаровск, ул. Горького, 61А
						li Единые номера телефонов: +7 (800) 301-55-50,
						li +7 (421) 240-07-80
						li Почта: spec@daltm.ru
						li Сайт: daltimbermash.ru


				.address-item
					h3 Официальный представитель на Урале
						br
						|Общество с ограниченной ответственностью «МВМ УРАЛ»
					ul.ln
						li 614107, г. Пермь, ул. Уральская, д. 69/1
						li Телефон: +7 (342) 277-57-67
						li Почта: mvmural@mail.ru
						li Сайт: mvmural.ru

			.col-6
				.address-item
					h3 Адреса офисов
					ul.ln
						li 680052, г. Хабаровск, ул. Горького, д. 61А
						li 690910, г. Владивосток, ул. Изумрудная, д. 3
						li 685004, г. Магадан, ул. Зайцева, д. 1
						li 675020, г. Благовещенск, ул. Театральная, д. 251
						li 681000, г. Комсомольск-на-Амуре, ул. Северное шоссе, д. 4
						li 677007, г. Якутск, ул. Покровский тракт 5 км, д. 4/1
						li 693012, г. Южно-Сахалинск, ул. Проспект Мира, д. 1В


				.address-item
					h3 Пункты выдачи
					ul.ln
						li 127644, г. Москва, ул. Лобненская, д. 18 (ТК Деловые линии)
						li 195213, г. Санкт-Петербург, ул. Латышских Стрелков, д. 31 (ТК Деловые линии)
						li 603028, г. Нижний Новгород, ул. Московское шоссе, д. 52 (ТК Деловые линии)
						li 420087, г. Казань, ул. Аделя Кутуя, д. 151 (ТК Деловые линии)
						li 620057, г. Екатеринбург, ул. Таганская, д. 60 (ТК Деловые линии)
						li 400122, г. Волгоград, ул. Моторная, д. 9Г (ТК Деловые линии)
						li 630110, г. Новосибирск, ул. Богдана Хмельницкого, д. 71/16 (ТК Деловые линии)
						li 344091, г. Ростов-на-дону, ул. Малиновского, д. 3 (ТК Деловые линии)
						li 450026, г. Уфа, ул. Трамвайная, д. 2 (ТК Деловые линии)
						li 454036, г. Челябинск, ул. Первомайская, д. 1А (ТК Деловые линии)
	.stub
include ../blocks/footer