include ../default/build-header
	include ../blocks/header
	include home/main.pug
	include home/about.pug
	include home/advantages.pug
	include home/products.pug
	include home/products-2.pug
	include home/products-3.pug
	include home/products-4.pug
	include home/products-5.pug
	include home/products-6.pug
	include home/products-7.pug
	include home/feedback.pug
	.stub
	include ../blocks/footer 