section.advantages
	.main-grid.head-section
		.col-8
			h2 Преимущества
				br
				| асфальтобетонных заводов от компании Мерко Руссланд:
		.col-4 
			.advantages-box
				.advantages-bg
				h2 Поддержка
	.main-grid
		.col-4
			+advantagesItem('Строим как стационарные, как и мобильные асфальтобетонные заводы','/images/temp/adv/1.svg')
		.col-4
			+advantagesItem('Поставляем только высокопроизводительное оборудование','/images/temp/adv/2.svg')
		.col-4
			+advantagesItem('Любое дополнительное оборудование и запасные части в наличии','/images/temp/adv/3.svg', true)
		.col-4
			+advantagesItem('Оборудование только от проверенных поставщиков','/images/temp/adv/4.svg')
		.col-4
			+advantagesItem('Осуществляем техническую и сервисную поддержку','/images/temp/adv/5.svg')
		.col-4
			+advantagesItem('Осуществляем техническую и сервисную поддержку','/images/temp/adv/6.svg', true)