section.feedback
	.head-section.main-full
			h2
				| Запрос коммерческого предложения 
			div Если вам требуется консультация по любому типу оборудования, представленного на сайте, или вы хотите получить индивидуальное коммерческое предложение, то, пожалуйста, заполните данную форму, и наши специалисты в кратчайшие сроки свяжутся с вами. 
	.main-grid
		.col-6 
			.input-box
				label Ваше имя:*
				+inputText('Введите имя','require')
		.col-6 
			.input-box
				label Ваша должность:
				+inputText('Введите должность','require')
		.col-6 
			.input-box
				label Ваш телефон:*
				+inputPhone(' +7 000 000 - 00 – 00 ', 'require')
		.col-6 
			.input-box
				label Интересующий вас товар или услуга:
				+inputText('Введите наименование',)
		.col-6 
			.input-box
				label Email:*
				+inputEmail('Введите email') 
			.input-box
				label Наименование организации:
				+inputText('Введите наименование организации')
		.col-6 
			.input-box
				label Дополнительные комментарии:
				+inputTextarea('Введите дополнительные комментарии')
		.col-12 
			.input-box
				.checkbox.agreement
					label Согласен(на) на обработку 
						a(href="#") персональных данных 
						input(type="checkbox" checked)
						span
			.btn-container 
				a.btn.btn--red(href="#") Отправить