section
	.head-section.main-grid
		.col-8
			h2
				| Дробильно-сортировочные комплексы 
			div Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in 
		.col-4
			.btn-container
				a(href="#").more-btn--black
					i 
					span Подробнее
	.main-grid
		-for(var x = 0; x < 1; x++)
			.col-3.col-sm-6
				+productItem("Бетоносмесительные установки HZS60G","150 млн. руб.","6.jpg")
		.col-6 
			.product-catalog-info
				h4 
					| Варианты применения:
				div
					|Склад песка и гравийного материала;
					|Горное дело; Рециклинг строительных твердых отходов; Тоннельный шлак. Цементное покрытие
					|до асфальтированной дороги.
				.product-catalog-info-stub
				h4 
					| Технология дробления:
				div
					|Высокоточная роторная система; Безопасное техобслуживание; «Умная» антиблокировочная система; Адаптивная регулировка агрегатов