.project-item
  margin: 0 0 30px
.project-item-img
  position: relative
  border-radius: 0 50px 0 50px
  overflow: hidden
  height: 100%
.project-item-info
  background-color: $grayColor
  height: 420px
  border-radius: 0 50px 0 50px
  padding: 30px
  display: flex
  flex-direction: column
  justify-content: space-between
