.main-home
  height: 100vh
  min-height: 620px
  background-color: $blueColor
  position: relative
  color: $whiteColor

  h2,h3
    color: inherit
  .main-grid
    margin-top: auto
    margin-bottom: auto
  h2
    font-size: 64px
    margin-bottom: 30px
    line-height: 1
  h3
    font-size: 20px
    font-weight: 500

  .lSSlideOuter
    position: absolute
    width: 100%
    top: 0
  .main-full
    height: 100%
    position: relative
  .lSAction
    max-width: 1280px
    left: 50%
    transform: translateX(-50%)
    z-index: 2
    top: 80%
  .lSPrev,
  .lSNext
    transition: ease-out 0.5s

  .lSNext
    right: auto
    left: 110px
    &:hover
      transform: translateX(10px) translateY(-50%)

  .lSPrev
    &:hover
      transform: translateX(-10px) translateY(-50%)

.home-slider-item
  em
    font-style: normal
    position: relative
    display: inline-block
    overflow: hidden
    height: 1.1em
  span
    position: relative
    top: 100%
    transition: ease-out 0.5s
  &.active
    em
      span
        top: 0

.main-home-slider
  // transition-delay: 0.5s !important
.main-home-gradient
  @include positionElement(100%, calc(100%  - 200px), 0, 0, left, bottom)
  @include bgImageEl("../images/main-home-gradient.png", cover, center top)
.home-slider-item
  height: 100%
  padding-top: 150px
  display: flex

.main-home-img
  @include positionElement(100%,100%,0,0)

.main-scroll-down
  @include positionElement(80px, 245px, 0, 0, right, bottom, 3)
  background: $redColor
  text-align: center
  padding: 28px 4px
  cursor: pointer
  i
    @include icoEl(40px, 40px, "../images/arrows/arrow-down-white.svg")
    transition: ease-out 0.5s
    // @mixin icoEl(40px, 40px, $img:none, $va:middle, $s:contain, $p:center, $r:no-repeat)

  &:hover
    i
      transform: translateY(15px)
@media (max-width: 992px)
  .main-home
    h2
      font-size: 48px
