include ../../default/build-header
	include ../../blocks/header-content
	.stub
	.main-full
		+breadcrumbs('Вакансии')
		.content
			.main-grid
				.col-8
					h1 Бухгалтер на первичные документы
				.col-4 
			.main-full
				.vacancies-descrition
					h3 Обязанности:
					ul.custom-disk
						li составление и прием учетных документов (запросы коллегам, поставщикам, покупателям, CRM, Почта России, СБИС, ДИАДОК, 1С) ;
						li проверка первичных документов (реквизиты – в соответствии с ЕГРЮЛ, составление – в соответствии с законодательством);
						li проверка правильности заполнения регистров и полноты данных (исправление ошибок или ввод);
						li комплектование сводных регистров (отчет о незакрытых авансах по контрагентам, отчет об отсутствии первичных документов);
						li сверка взаиморасчетов с контрагентами и настойчивый регулярный запрос скана и оригинала первичного документа;
						li сканирование первичных документов и составление электронной библиотеки первичных документов;
						li архивирование документов в бумажные папки, участие в инвентаризации.
			.main-grid 
				.col-6 
					.vacancies-requirements
						h3 Требования:
						ul.custom-disk
							li Профильное образование;
							li Уверенный пользователь 1С Бухгалтерия 3.0, 1С Торговля и Склад, Excel, Word;
							li Знание российского бухгалтерского учета и налогообложения;
							li Знание проводок бухгалтерского учета;
							li Опыт работы с ЭДО;
							li Практический опыт работы от 2-х лет.
				.col-6 
					.vacancies-requirements
						h3 Условия:
						ul.custom-disk
							li оформление по ТК РФ с первого дня (оплата больничных и отпусков);
							li выплата заработной платы в установленные сроки (без задержек);
							li ЗП 40 000 (Gross);
							li График работы: 5/2, с 09:00 до 18:00, пятница до 17:00;
							li Место работы: Калужская обл., г. Малоярославец, ул. Карла Маркса, д. 3А, пом.5.
			.main-full 
				.vacancies-btn-container
					div Резюме присылать на адрес электронной почты: 
					a.btn.btn--red-border(href="#")  director@merko-russland.com
			include ../home/feedback.pug
			.stub 
	include ../../blocks/footer
	