
footer
  position: relative

  background-color: $redColor
  color: $whiteColor

  .main-grid
    padding: 30px 15px 30px
  ul,li
    list-style: none
    padding: 0
    margin: 0
  a
    text-decoration: none
    &:hover
      color: $blackColor

  .feedback
    text-align: right
  .social
    margin: 15px 0

  .nav
    font-size: $standartSize
    margin-bottom: 50px
    li
      margin-bottom: 12px
  .nav-second
    a
      font-weight: 600

  h3
    font-size: $mediumSize
    color: inherit
    margin: 0 0 15px

    a
      font-weight: 600
.footer-links
  display: flex
  justify-content: space-between
  font-size: $smallSize

.feedback-footer-item
  margin: 0 0 15px
  span, b
    display: block
  a
    font-weight: 700

.footer-mobile
  display: none
.stub-footer
  height: 90px
@media (max-width: 576px)
  footer
    font-size: 12px
    .nav
      font-size: inherit
    .main-grid
      gap: 0
      padding: 30px 15px 10px
  .footer-mobile
    display: block
  .footer-desktop
    display: none
  .footer-links
    display: block
    font-size: 10px
    margin-bottom: 10px
  .feedback-footer-item
    text-align: right
  .footer-delimetr
    @include positionElement(calc(100% - 30px),1px, 15px, auto)
    margin-top: -15px
    background-color: $whiteColor
  .stub-footer
    height: 30px
  .footer-links-center
    text-align: right
  .social
    padding: 0 0 30px
