
.stub
  height: 102px

header
  @include positionElement(100%, auto, 0, auto, left, top, 3 )
  color: $whiteColor
  @include bgImageEl("../images/header-gradient.png", cover, center bottom)
  // background-color: $whiteColor
  min-width: 320px
  // padding: 10px 0
  transition: ease-out 0.5s
  padding: 15px 0 0
  a
    text-decoration: none

  .btn
    padding: 6px 0
    font-size: $smallSize
  .main-grid
    gap: 0px 30px
  &.stick
    top: -200px
    position: fixed
  &.show
    top: 0
    background: $whiteColor
    color: $blackColor

    box-shadow: 0 0 33px rgb(0 0 0 / 7%)
    // border-bottom: 1px solid #eee
    .logo-red
      display: flex
    .logo-white
      display: none
    .inner-nav i
      background-image: url("../images/arrows/carret-down-black.svg")
    .phone-btn
      i
        background-image: url("../images/icons/phone-black.svg")
      &:hover
        i
          background-image: url("../images/icons/phone-red.svg")
    .mail-btn
      i
        background-image: url("../images/icons/mail-black.svg")
      &:hover
        i
          background-image: url("../images/icons/mail-red.svg")
    li
      i
        background-image: url("../images/arrows/carret-down-black.svg")
.logo-red
  display: none

.logo
  img
    transition: ease-out 0.25s
    width: 190px
    object-fit: cover

.nav-header
  width: 100%
  font-size: 14px
  ul
    display: flex
    justify-content: space-between
    width: 100%
    font-weight: 500
    // 
    list-style: none
    padding: 0
  li
    position: relative
    ul
      display: block
      position: absolute
      left: 50%
      transform: translateX(-50%) translateY(10px)
      background-color: $whiteColor
      padding: 0
      width: 260px
      // border: 1px solid $grayColorSecond
      font-size: $smallSize
      // font-weight: 400
      transition: ease-out 0.25s
      opacity: 0
      visibility: hidden
      color: $blackColor
      box-shadow: 0 0 33px rgb(0 0 0 / 7%)
      border-radius: 0 20px 0 20px
      overflow: hidden
      ul
        // border-top: 1px solid $grayColorSecond
        // border-bottom: 1px solid $grayColorSecond
        position: relative
        box-shadow: none
        border-radius: 0
        padding-left: 30px
        li
          a
            padding: 8px
      li
        // border-bottom: 1px solid $grayColorSecond
        display: block
        &:last-child
          border: 0
      a
        padding: 16px 20px
        text-transform: initial
        &:hover
          text-decoration: underline
        &::after
          display: none
    &:hover
      ul
        opacity: 1
        visibility: visible
        transform: translateX(-50%) translateY(0)
  a
    position: relative
    padding: 16px 25px
    &::after
      content: ''
      @include positionElement(0,4px,0,0,left,bottom)
      background-color: $redColor
      transition: ease-out 0.5s
    &:hover
      color: $redColor
      background-color: $whiteColor
    i
      @include positionElement(20px,20px, 0px, 50%,right)
      transform: translateX(-3px) translateY(-50%)
      @include bgImageEl("../images/arrows/carret-down-white.svg", 30px)
      &::before
        display: none
  a
    &:hover

      &::after
        width: 100%
      i
        background-image: url("../images/arrows/carret-down-red.svg")

.feedback-header
  margin-left: auto
  gap: 30px
  a
    font-weight: 700
  .mail-btn
    margin-left: 30px
.header-tablet-nav
  display: none
@media (max-width: 992px)
  .header-tablet-nav
    display: block
    text-align: right
    .btn
      margin-right: 30px
@media (max-width: 820px)
  .logo
    img
      width: 160px
@media (max-width: 576px)
  header
    padding: 20px 0 15px
    .btn
      display: none
  .stub
    height: 70px
