.nodes-main
  height: 720px
  @include bgImageEl("../images/nodes-main.jpg", cover)
  .main-full
    display: flex
    height: 100%
.nodes-main-box
  max-width: 660px
  margin-top: auto
  margin-bottom: 45px
  padding: 30px
  background-color: $redColor
  border-radius: 0 50px 0 50px
  color: $whiteColor

  h2
    color: inherit
    margin-bottom: 15px
.nodes-section
  padding: 60px 0 0

  h2
    margin: 0 0 30px
    font-size: 32px

.nodes-stage
  min-height: 620px
  position: relative
  overflow: hidden
  border-radius: 0 50px 0 50px
  padding: 30px 60px
  color: $whiteColor
  margin-top: 60px
.nodes-stage-item
  grid-column: span 3
  position: relative
  b
    font-size: 48px
.nodes-stage-bg,
.nodes-stage-gradinet
  @include positionElement(100%,100%,0,0)
.nodes-stage-gradinet
  @include bgImageEl("../images/node-stage-gradient.png",cover)
.nodes-stage-gallery
  margin-top: 30px
  padding: 0
.nodes-stage-gallery-img
  height: 240px
  position: relative
  border-radius: 20px
  overflow: hidden

.nodes-middle-text
  margin-top: 30px

@media (max-width: 576px)
  .nodes-stage-item
    grid-column: span 12
  .nodes-stage
    height: auto
  .nodes-stage-gallery
    .main-grid
      gap: 8px
